<h1>All Posts</h1>
<% if @posts.any? %>
	<% @posts.each do |post| %>
		<%= link_to post.title, post_path(post) %> <%=link_to User.find(post.user_id).username, user_posts_path(post.user_id) %>
		<br>
	<% end %>
<% else %>
	<%= link_to 'Create post', new_post_path(current_user) %>
<% end %>
<hr>
<% if current_user %>
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "Sign in", new_user_session_path %>

	<%= link_to "Sign up", new_user_registration_path %>
<% end %>
