<nav>
  	<ul class="breadcrumb">
  		<li role="presentation"><%= link_to 'Home', root_path %></a></li>
  		<li role="presentation"><%= link_to @post.title.capitalize, post_path(@post) %></a></li>
  		<li role="presentation" class="active">Edit Post</li>
  		<li class="pull-right"><%= link_to 'Add Post', new_post_path(current_user) %></li>
  	</ul>
  </nav>
<h1>Editing: <%= @post.title.capitalize %></h1>

<div class="container">
<%= render(partial: 'form') %>
</div>
