<nav>
  	<ul class="breadcrumb">
  		<li role="presentation"><%= link_to 'Home', root_path %></a></li>
  		<li role="presentation" class="active"><%= link_to @user.username, user_posts_path(@user) %></a></li>
  	</ul>
  </nav>

<h1> Posts from <%= @user.username %> </h1>
<% @posts.each do |post| %>
	<div> Title: <%= post.title %> </div>
	<div> Content: <%= post.content %> </div>
	<br>
<% end %>
